---
layout: default
---

<div id="mainMenu">
    <span>{{ site.title }}</span>
</div>
<div class="content">
    <ul>
        {% for member in site.data.sections %}
          <li>
            <a href="https://github.com/{{ member.github }}">
              {{ member.name }}
            </a>
          </li>
        {% endfor %}
    </ul>
    {% for book in site.books %}
    <h2>
        <a href="{{ book.url }}">
        {{ book.name }} - {{ book.position }}
        </a>
    </h2>
    <p>{{ book.content | markdownify }}</p>
    {% endfor %}
</div>